env
__pycache__
myfile.png
myfile.pdf
myfile2.pdf
PathFinder/files/*
.vscode
PathFinder/download/*
Spacefile
.space
instance
./test.pickle
PathFinder/static/node_modules
PathFinder/static/scss
PathFinder/static/package-lock.json
PathFinder/static/package.json