input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.edges{
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-color: #6e6155 #948272;
    max-height: 20vh;
    min-height: 20vh;
}
.edges::-webkit-scrollbar-track  {
    background-color: #948272;
}

.edges::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #6e6155;
}
.edges::-webkit-scrollbar {
    background-color: #948272;
}
.form-control::placeholder{
    color: #DADFE0;
    opacity: 0.7;
}
.h-85{
    height: 85%;
}
.h-15{
    height: 15%;
}
.fs-sm{
    font-size: smaller;
}