input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number]{
    -moz-appearance: textfield;
}
.edges{
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 40vh;
    min-height: 40vh;
}
.form-control::placeholder{
    color: #DADFE0;
    opacity: 0.7;
}
.h-85{
    height: 85%;
}
.h-15{
    height: 15%;
}