{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% else %}
        <p>Ale super graf</p>
        <img src="{{graph_img}}" alt="Oops! There was a problem with your graph!"><br>
    {% endif %}
{% endwith %}
<form method="post" action="{{ url_for('index') }}">
    <button onclick="clear_cookie()" name="forwardBtn" type="submit">Go back</button>
{% endblock %}

