{% extends 'base.html' %}
{% block content %}
{% with messages = get_flashed_messages()  %}
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% else %}
        {% if graph_name != 'None'%}
            <img id="graph_image" src="{{ graph_img }}" alt="Oops! There was a problem with your graph!"><br>
            <button onclick="show_path()" id="one_path" type="button">Show path</button>
            <button onclick="show_all_paths()" id="all_paths" type="button">Show all paths</button>
            <button onclick="reset_graph()" id="all_paths" type="button">Reset graph</button>
            <form method="get" action="{{ url_for('graph.get_zip', filename=graph_name) }}">
                <button type="submit">Download!</button>
            </form>             
        {% endif %}
    {% endif %}
{% endwith %}

<form method="post" action="{{ url_for('index') }}">
    <button onclick="clear_cookie()" name="forwardBtn" type="submit">Go back</button>
</form>
<script src="{{ url_for('static', filename='show_path.js') }}"></script>
<script src="{{ url_for('static', filename='show_all_paths.js') }}"></script>
<script src="{{ url_for('static', filename='download_file.js') }}"></script>
<script src="{{ url_for('static', filename='reset_graph.js') }}"></script>
{% endblock %}

