{% extends 'base.html' %}
{% block content %}
<form method="post" action="{{ url_for('graph.set_weights') }}">
    <label for="vertices">Give the number of vertices in the graph</label><br>
    <input type="number" min="1" name="vertices" id="vertices" placeholder="Number of vertices..." required><br>
    <label for="is_directed">Should graph be directed?</label>
    <input type="checkbox" name="is_directed" id="is_directed"><br>
    <input type="submit" value="Submit">
</form>
<form method="post" action="{{ url_for('graph.show_saved') }}" enctype="multipart/form-data">
    <label for="upload_file">If you want to load existing graph select a file and click the submit button below</label><br>
    <input type="file" name="upload_file" id="upload_file" accept=".pkl, .pickle, .graphmlz"><br>
    <input type="submit" value="Upload">
</form>
{% endblock %}
        